<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yarm.blog.dao.mapper.BlogMapper">

<insert id="insert" parameterType="com.yarm.blog.pojo.mapper.BlogMapperPojo">
INSERT INTO blog(uid,title,content,create_date,update_date) 
VALUES(#{blogMapperPojo.uid},#{blogMapperPojo.title},#{blogMapperPojo.content},#{blogMapperPojo.createDate},#{blogMapperPojo.updateDate})
</insert>
</mapper>